body {
    background-color: antiquewhite;
}

h1 {
    color: navy;
    font-size: 3em;
}


p {
    color: slategrey;
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    letter-spacing: 20px;
}



h2 {
    color: cornflowerblue;
}

section {
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
}

.main-content {
    color: azure;
}

.main-footer {
    text-align: center;
    font-style: oblique;
    border-color: rgb(222, 187, 255);
    border-style: double;
    border-width: 5px;
    border-radius: 1em;
    box-shadow: 20px 15px 10px rgb(179, 179, 179);
    font-size: 2em;
    margin: 20px;
    padding: 20px;
}

.main-heading {
    text-align: center;
}

.bio {
    text-align: center;
}

video {
    float: right;
}

.dog-video {
    text-align: center;
}

